body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    padding-bottom: 20px;

    max-width: 800px;
    margin: 0 auto;
    background-color: darkgray;
    justify-content: center;
}

.form {
    display: flex;
    max-width: 800px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.form--hidden {
    display: none;
}

/* TODO: naming scheme is terrible; rename for more precision */

.tab-content {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: #f5f5f5;

    /*
    visibility: visible;
    height: auto;
    pointer-events: auto;
    */
}

/* TODO: apply padding to option inputs */

/* TODO: options inputs should be in a table maybe? */

/* TODO: should this be above and .tab-content--active is below? */
.tab-content--hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    pointer-events: none;
}

.options-tab-description {
    padding: 5px;
    padding-left: 20px;
}

.options-tab-btn-row {
    display: flex;
    width: 100%;
    align-items: bottom;
    justify-content: center;
}

.options-tab-btn {
    flex: 1;
    border: 1px solid;
    margin-bottom: 5px;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    border-color: #808080;

    /* Overridden by active modifier */
    color: #000000;

    transition:
        background-color 150ms ease-in-out,
        font-color 150ms ease-in-out,
        border-color 150ms ease-in-out;
}

.options-tab-btn--left {
    flex: 1;
    border: 1px solid;
    padding: 10px;
    font-weight: bold;
    border-color: #808080;

    /* Overridden by active modifier */
    background-color: #b1f2ff;
    color: #000000;
}

.options-tab-btn:hover {
    background-color: #c3c3c3;
    cursor: pointer;
}

.options-tab-btn--active {
    background-color: #2626d5;
    color: #ffffff;
    border-color: #000000;
    transition-property: background-color font-color border-color;
}

.options-tab-btn--active:hover {
    background-color: #2626d5;
    cursor: pointer;
}