:root {
    --bg-color: #000040;
    --border-color: #222222;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    padding-bottom: 20px;

    max-width: 800px;
    margin: 0 auto;
    background-color: var(--bg-color);
    color: white;
    border-color: #111111;
    justify-content: center;
}

.form {
    display: flex;
    max-width: 800px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.form--hidden {
    display: none;
}

.options-form-nav-btn-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.options-form-nav-btn {
    margin-bottom: 5px;
    padding: 10px;
    font-weight: bold;
    border: 1.5px solid;
    border-radius: 15px;
    border-color: #808080;

    transition:
        color 100ms ease-in-out,
        background-color 100ms ease-in-out,
        border-color 100ms ease-in-out;

    background-color: #000060;
    color: #ffffff;
}

.options-form-nav-btn:hover {
    background-color: #000090;
    cursor: pointer;

    transition:
        color 100ms ease-in-out,
        background-color 100ms ease-in-out,
        border-color 100ms ease-in-out;
}

.options-form-gen-btn {
    background-color: #add8e6;
    color: #000000;

    transition:
        color 100ms ease-in-out,
        background-color 100ms ease-in-out,
        border-color 100ms ease-in-out;
}

.options-form-gen-btn:hover {
    background-color: #86c5d8;
    cursor: pointer;

    transition:
        color 100ms ease-in-out,
        background-color 100ms ease-in-out,
        border-color 100ms ease-in-out;
}

/* TODO: naming scheme is terrible; rename for more precision */

.tab-content {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000030;
    padding-bottom: 20px;

    /*
    visibility: visible;
    height: auto;
    pointer-events: auto;
    */
}

/* TODO: apply padding to option inputs */

/* TODO: options inputs should be in a table maybe? */

/* TODO: should this be above and .tab-content--active is below? */
.tab-content--hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    padding-bottom: 0px;
    border: 0px;
}

.options-tab-btn-row {
    display: flex;
    width: 100%;
    align-items: bottom;
    justify-content: center;
}

.options-tab-btn {
    flex: 1;
    border: 1px solid;
    margin-bottom: 5px;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    border-color: #808080;

    transition:
        color 100ms ease-in-out,
        background-color 100ms ease-in-out,
        border-color 100ms ease-in-out;

    background-color: #000060;
    color: #ffffff;
}

.options-tab-btn:hover {
    background-color: #202090;
    cursor: pointer;
    transition:
        color 100ms ease-in-out,
        background-color 100ms ease-in-out,
        border-color 100ms ease-in-out;
}

.options-tab-btn--active {
    background-color: #6badce;
    color: black;
    border-color: #3a3a3a;
    transition:
        color 100ms ease-in-out,
        background-color 100ms ease-in-out,
        border-color 100ms ease-in-out;
}

.options-tab-btn--active:hover {
    background-color: #6badce;
    cursor: pointer;
}

.options-tab-description {
    padding: 5px;
    padding-left: 20px;
    padding-left: 20px;
}

.option-input {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--bg-color);
    color: white;
    text-align: left;
    max-width: 60px;
}